{% load staticfiles %}


<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">


        <title>급조 장고걸즈 블로그</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="https://github.com/hero0926">Github profile</a></h1>
        </div>

        <div class="page-header-right">
            <h2><a href="https://github.com/hero0926/resume">Check my Github resume NOW</a></h2>
        </div>

        <div>
            <h2>DB TEST</h2>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">

                    {% for post in posts %}
                        <div class="post">
                        <h3>{{ post.title }}</a></h3>
                        <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </body>
</html>