<html>
    <head>
        <title>급조 장고걸즈 블로그</title>
    </head>
    <body>
        <div>
            <h1><a href="">깃허브 프로필</a></h1>
        </div>

        <div>
            <p>published: 21.06.2017, 11:34</p>
            <h2><a href="">깃허브 레쥬메</a></h2>
        </div>

        <div>
            <p>published: 19.06.2017, 12:14</p>
            <h2><a href="">게시글 목록</a></h2>
           {% for post in posts %}
            <div>
                <h3><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>